.chat-container{
    height: 100%;
    background-color: #e0e0e0;
    max-width: 100%;
    box-sizing: border-box;
}
.chatbox {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    height: 90vh;
    margin-bottom: 20px;
}
.chatbox .message {
    margin-bottom: 10px;
}
.chatbox .message.right{
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: auto;
    justify-items: center;
    align-items: baseline;
    flex-flow: row;
}

.chatbox .message .sender {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}
.chatbox .message .time {
    font-size: 12px;
    color: #999;
    margin-left: 30px;
}
.chatbox .message .text {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.chatbox .message.right .text {
    background-color: #00bfff;
    color: #fff;
}
.chatbox .message.right .sender {
    text-align: right;
    margin-right: 10px;
}

.chatbox .message.right .time {
    text-align: right;
    margin-left: 0;
    margin-right: 10px;
}
.input-msg {
    width: 96%;
    color: #333;
    font-size: 16px;
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
}

.input-msg-form .send-msg{
    background-color: #4CAF50;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px;
}
.input-msg-form .send-msg:hover{
    background-color: #5d8e49;
}
.input-msg-form{
    display: flex;
    align-items: inherit;
    justify-content: flex-start;
    position: fixed;
    top: 90vh;
    width: 50%;
    left: calc(100% - 50% - 25%);
    margin: auto;
}
.Auth-container {
    margin-top: 27px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  #sendemail{
    padding: 7px 12px;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .Auth-container{
    margin-top: 35px;
    height: 100vh;
  }
  h1 {
    text-align: center;
  }
  form {
    margin-top: 20px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
#email,#otp{
    width: 95%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
.authenticate{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
  input[type="submit"]:hover {
    background-color: #45a049;
  }
@media only screen and (max-width: 780px) {
    .chat-container {
      width: 100vw;
    }
    .chatbox{
      min-width: 95vw;
    }
    .input-msg-form{
      min-width: 100vw;
      top:80vh;
      left:10vw;
    }
    .chatbox .message.right{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .chatbox .message{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .Auth-container{
      width: 90vw;
      align-self: center;
    }
}
